*
{
    padding: 0;
    margin: 0;
}

header{
    height: 75px;
    width: 100%;
    background-color: #1E90FF;
    box-sizing: border-box;
    padding: 12px 10px;
    color: white;
}
    header .header-L{
        height: 50px;
        width: 85%;
        display: inline-block;
        margin-left: 10px;
        vertical-align: top;
        box-sizing: border-box;
        padding: 5px;
    }
    header .header-R{
        height: 50px;
        width: 10%;
        display: inline-block; 
        vertical-align: top;
        box-sizing: border-box;
        padding: 5px;
    }
        header .header-R a{
            font-size: 24px;
            position: relative;
            top: 7.5px;
            color: white;
        }
    main{
        text-align: center;
    }
        main div{
            width: 300px;
            height: 350px;
            border: 1.5px solid black;
            display: inline-block;
            vertical-align: top;
            margin: 100px 50px;
        }  
            main div p span{
                margin-left: 20px;
            }
    img{
        height: 200px;
        width: 200px;
    }
    input.quantity{
        width: 35px;
        margin-top: 10px;
    }
        .buy{
            background-color: green;
            padding: 2.5px 5px;
            border: none;
            color: white;
        }
/* Catalog */
    
    .box{
        border:5px solid black;
        width: 750px;
        overflow-y: scroll;
        height: 250px;
    }
    table, td, th {
        border: 1px solid;
        box-sizing: border-box;
        padding: 10px;
      }
      
      table {
        width: 100%;
        border-collapse: collapse;
      }
        a.x{
            background-color: red;
            border: none;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }    
    tr:nth-child(even){
        background-color:#D3D3D3;
    }
    th{
        background-color: 	#B8B8B8;
    }
    h2{
        text-align: left;
        position: relative;
        top: 50px;
        left: 500px;
    }
    h3{
        text-align: left;
        position: relative;
        top: 50px;
        left: 1150px;
    }
    .information{
        border:2.5px solid rgba(0, 0, 0, 0.151);
        width: 950px;
        height: 250px;
        margin: 70px auto 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }
            footer div{
                width: 750px;
                height: 50px;
                margin: 0 auto;
                text-align: left;
                box-sizing: border-box;
                padding: 5px 10px;
            }
                #card{
                    margin-left: 50px;
                }
                #address{
                    margin-left: 85px;
                }
                #name{
                    margin-left: 100px;
                }
                #order{
                    background-color: blue;
                    border: none;
                    color: white;
                    padding: 5px 10px;
                    margin-left: 175px;
                }
